
<!---TAK WYGLĄDA MINIMUM TWINGA-->


<!DOCTYPE html>
<html>
    <head>
        <title>Baszczewski - Dobry programista freelancer</title>
    </head>
    <body>
        {# to jest komentarz #}

        Pracownik: {{ name }} {# tutaj w prosty sposób wstawiamy wartość zmiennej #}

        {% for task in tasks %}
            <li><a href="tasks/{{ task.id }}">{{ task.title }}</a></li>
        {% endfor %}
    </body>
</html>




PODSTAWY TWIGA

https://www.baszczewski.pl/2013/10/twig-dobry-system-szablonow/
